<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<style>
    .j-end{
    display: flex;
    justify-content: end;
    width:30px;
    font-size: 20px;
    
}
nav #cad{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
#logo{
    border-radius: 100px;
    overflow: hidden;
}
#equipe{
    background-color: #6D8AD6;
}

.equipe{
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
   
    
}
.conteiner{
    margin: 0px 10px 0px 10px;
    border: #000 1px solid;
    border-radius: 20px;  
    
}
.card{
   margin: 25px;
}
legend h1{
    text-align: center;
    color: #000;
}
i{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
a.cadbt{
    text-decoration: none !important;
}
.bt_funcionario{
    display: flex;
    justify-content: center;
    
}

</style>

<body id="equipe">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="/">
                <div id="logo"><img src="images/logo1.png" width="100px" height="80px"></div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="images/branco.png" width="30px">
                        </a>
                        <ul class="dropdown-menu">
                             <li><a class="dropdown-item" href="/equipe">Equipe</a></li>
                            <li><a class="dropdown-item" href="/sobreGame">Sobre o jogo</a></li>
                            <li><a class="dropdown-item" href="/sobrePortal">Sobre o Portal</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col j-end text-decoration-none">
                <a href="/cadJogador" class="cadbt m-4"><i
                        class="m-4 bi-person-add">Cadastre-se</i></a>
            </div>
            <div class="col j-end text-decoration-none">
                <a href="/cadDev" class="cadbt m-4"><i
                        class="m-4 bi-person-add">Cadastre-se funcionario</i></a>
            </div>
        </div>
    </nav>


    <legend>
        <h1>EQUIPE</h1>
    </legend>

    <div class="equipe">


        <div class="conteiner">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="images/ryan.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Ryan Fidelis</p>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="images/barbara.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Barbara Santos</p>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="images/valentina.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"> Valentina Peres </p>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="images/lud.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"> Ludmila Martins </p>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="images/marcos.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"> Marcos Messias</p>
                        </div>
                    </div>

                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="images/eduarda.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"> Eduarda Hatanaka </p>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="images/laura.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"> Laura Sanchez</p>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="images/camilly.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"> Camilly Cristianini</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
       
        
    
   



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>