<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o site</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

   
<body id="bodySobre">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="/"><div id="logo"><img src="images/logo1.png" width="100px" height="80px"></div></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="images/branco.png" width="30px">
                        </a>
                        <ul class="dropdown-menu">
                             <li><a class="dropdown-item" href="/equipe">Equipe</a></li>
                            <li><a class="dropdown-item" href="/sobreGame">Sobre o jogo</a></li>
                            <li><a class="dropdown-item" href="/sobrePortal">Sobre o Portal</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col j-end text-decoration-none" >
                    <a href="../login_cad/cadJogador.html" class="cadbt m-4"><i class="m-4 bi-person-add">Cadastre-se</i></a>
            </div>
    </nav>

     <main>
        
        <section class="sectvideo">
            <video controls class="video">
                <source src="public/movie/video.mp4" type="video/mp4">
            </video>

        </section>
        <section class="sectwrite">
            <div class="divwrite">
                <div class="divh1">
                    <h1 class="h1write">
                        <strong style="font-style: italic;">Sobre o Portal</strong> 
                     </h1>
                </div>
                <div class="divp">
                    
                    <p class="pwrite">O nosso projeto tem como objetivo trazer conhecimento dos pontos turísticos da nossa cidade<br> 
                        (ou seja, Presidente Prudente).Mostrar as pulcritudes e histórias da nossa cidade por um site <br>
                        de turismo onde a pessoa poderá visitar os lugares da cidade no próprio site, mas, sendo em forma <br>
                        de jogo, o 
                        utilizador vai conhecer a cidade dentro do jogo sem sair de casa ou indo aos pontos, fica a escolha <br> do jogador e gratuitamente.  </p>
                </div>
              
            </div>
        
           

     </main>



     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>